<footer class="container-fluid bg-dark d-flex flex-wrap justify-content-between
                align-items-center py-3 border-top" style="height: 100px;">

    <div class="d-flex align-items-center">
      <a href="{% url 'home' %}" class="mb-3 me-2 mb-md-0 text-white text-decoration-none lh-1">GoodReadsClone</a>
      <span class="mb-3 mb-md-0 text-white">&copy; 2024 - Amirhossein Khalili, All rights reserved.</span>
    </div>

    <ul class="nav justify-content-end list-unstyled d-flex">
      <li class="ms-3">
          <a class="text-white" target="_blank" href="https://github.com/amirkhgraphic">
              Github
          </a>
      </li>
      <li class="ms-3">
          <a class="text-white" target="_blank" href="https://www.linkedin.com/in/amirhossein-khalili-a83250271/">
              LinkedIn
          </a>
      </li>
      <li class="ms-3">
          <a class="text-white" target="_blank" href="https://t.me/Amirkh_MoD">
              Telegram
          </a>
      </li>
      <li class="ms-3">
          <a class="text-white" target="_blank" href="https://quera.org/profile/Amirkh1996">
              Quera
          </a>
      </li>
      <li class="ms-3">
          <a class="text-white" target="_blank" href="https://amirkhgraphic.github.io/Portfolio-Website/">
              About
          </a>
      </li>
    </ul>
</footer>